<table class="table table-bordered mb-0">
    <thead class="table-dark">
        <tr>
            <th class="w-25">
                Year
                <select ng-model="filter.year" ng-change="filterBy()" class="form-control">
                    <option value="">Search by year</option>
                    <option ng-repeat="year in years" value="{{year.year}}">{{year.year}}</option>
                </select>
            </th>
            <th class="w-50">Title</th>
            <th class="w-50">
                Winner
                <select ng-model="filter.winner" ng-change="filterBy()" class="form-control">
                    <option value="">Yes/No</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in paginate(movies, page)">
            <td>{{movie.year}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.winner ? 'Yes' : 'No'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <ul class="pagination mb-0">
                    <li class="page-item" ng-if="page-1 > 0">
                        <a class="page-link" href="#!/movies/page/1{{paginationParams}}">&laquo;</a>
                    </li>
                    <li class="page-item" ng-if="page-1 > 0">
                        <a class="page-link" href="#!/movies/page/{{page-1}}{{paginationParams}}">&lt;</a>
                    </li>
                    <li ng-repeat="pager in pagination" class="page-item {{pager == page ? 'active' : ''}}">
                        <a class="page-link" href="#!/movies/page/{{pager}}{{paginationParams}}" ng-click="">{{pager}}</a>
                    </li>
                    <li class="page-item" ng-if="page < pagination.length">
                        <a class="page-link" href="#!/movies/page/{{page+1}}{{paginationParams}}">&gt;</a>
                    </li>
                    <li class="page-item" ng-if="page < pagination.length">
                        <a class="page-link" href="#!/movies/page/{{pagination.length}}{{paginationParams}}">&raquo;</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tfoot>
</table>