body {
    height: 100vh;
}

.main {
    flex-grow: 1;
}
@media (min-width: 992px) {
    .main {
        display: flex;
    }
}

.view {
    flex-grow: 1;
    padding: 1rem;
}
@media (min-width: 992px) {
    .view {
        padding: 3rem;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.navbar-aside {
    padding: 1rem;
}
@media (min-width: 992px) {
    .navbar-aside {
        flex: 0 0 300px;
        width: 300px;
    }
}

.card {
    height: 100%;
}

th {
    vertical-align: middle;
}
th .form-control {
    margin-top: 0.5rem;
}